* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden; }

.container {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex; }

#section-uno {
  background-color: #abc;
  background-image: url("../media/img/section-uno/bg-section1.jpg");
  display: grid;
  justify-content: center;
  align-content: center; }

#section-uno:before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

#section-dos {
  background-color: #abc;
  background-image: url("../media/img/section-dos/bg-section2.jpg"); }

#section-tres {
  background-color: #abc;
  background-image: url("../media/img/section-tres/bg-section3.jpg"); }

#section-cuatro {
  background-color: #222211;
  background-image: url("../media/img/section-cuatro/bg-section4.png"); }

#section-cinco {
  background-color: #aabbcc; }

#section-seis {
  background-color: #332; }

.btn-pagina {
  display: grid;
  justify-content: start;
  justify-items: center;
  align-content: center;
  align-items: center; }

.btn-pagina-item {
  display: relative;
  top: 0;
  right: 1rem;
  left: 0;
  bottom: 1rem;
  margin: 2px;
  padding: 3px;
  font-weight: bold;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: 'Kanit', sans-serif;
  text-shadow: 1px 2px 5px #2b2626;
  border-radius: 5px;
  color: white;
  background-color: #504f4f53;
  line-height: 2.5rem; }

.btn-menu {
  border: 0;
  padding: 3px;
  position: relative;
  background-color: #bcb6b354;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  text-shadow: 10px 10px 10px #52382c;
  border-radius: 5px; }

.btn-menu-item {
  text-decoration: none;
  color: white;
  font-size: 2rem; }

.icon {
  color: white;
  font-size: 1.5rem; }
