@import "./utilities/generales";
@import "./utilities/mixin";
@import "./utilities/variables";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    text-align: center
}
// // // // // CONTENEDORES // // // // // // //
.container{
    @include container;
    @include bg-container;
}
// // // // // // // // // // // // // // 

// // // // // BOTONES // // // // // // //
// BOTÓN MENU
.btn-menu{
    @include btn-menu;
}
.btn-menu-item{
    @include btn-menu-item;
}
// -------------------------------------
// BOTÓNES DE NAVEGACIÓN
.btn-pagina{
    width: 100%;
    height: auto;
    @include flex-btn-pagina;
    .btn-pagina-item{
        @include btn-pagina-item;
        .icon{
            font-size: 1.5rem;
        }
    }
}
// -------------------------------------
// // // // // // // // // // // // // // 


// // // // // SECTIONS // // // // // // //

// SECTION UNO
#section-uno{
    background-color: #8ba5b0;
    // @include grid-container-center;
    @include flex-section-uno;
    &::before{
        @include before-section-uno
    }
}
// -------------------------------------
// SECTION DOS
#section-dos{
    background-color: #87675a;
    h1{
        margin-top: 1rem;
        font-family: 'Kanit', sans-serif;
        @include flex-h1;
    }
    .card-opciones-menu{
        height: 80vh;
        font-size: 1.3rem;
        font-family: 'Kanit', sans-serif;
        @include flex-cards-opciones-menu;
        .card{

            border-radius: 5px;
            background-color: rgba(157, 148, 143, 0.16);
            height: 50%; 
            height: 240px;
            width: 250px;
        }
        h2{
            font-size: 1.2em;
        }
    }
}
// -------------------------------------
// SECTION TRES
#section-tres{
    background-color: #5c7772;
    @include flex-section;


}
// -------------------------------------
// SECTION CUATRO
#section-cuatro{
    background-color: #4c6054;
    @include flex-section;
}
// -------------------------------------
// SECTION CINCO
#section-cinco{
    background-color: #3f4939;
    @include flex-section;

}
// -------------------------------------
// SECTION SEIS
#section-seis{
    background-color: #333322;
    @include flex-section;

}

// -------------------------------------
// // // // // // // // // // // // // //