// // // // MIXINS / // // // // // // 

// // // // // CONTENEDORES // // // // // // //
@mixin container{
    height: 100vh;
    width: 100vw;
}
@mixin bg-container{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
// // // // // // // // // // // // // // 

// // // // // BOTONES // // // // // // //
@mixin btn-menu{
    background-color:#bcb6b3;
    border-radius: 5px;
    position: absolute;
}
// -------------------------------------
@mixin btn-menu-item{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    text-shadow: 10px 10px 10px #52382c;
}
@mixin btn-pagina-item{
    margin: 10px;
    padding:0 10px 5px 10px;

    font-weight: bold;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Kanit', sans-serif;
    text-shadow: 1px 2px 5px #2b2626;
    border-radius: 5px;
    color: white;
    background-color: #504f4f53;
    line-height: 2.5rem;

}
// -------------------------------------

// // // // // FLEXS // // // // // // //
@mixin flex-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@mixin flex-section-uno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flex-h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-btn-pagina{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

@mixin flex-cards-opciones-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
// // // // // // // // // // // // // // 

// // // PSEUDO CLASE ::  BEFORE  // // //
@mixin before-section-uno{
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.3);

    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}
// // // // // // // // // // // // // // 


//  HOVER PARA @MEDIAQUERY
//      }&:hover{
//          background-color: #504f4fa4;
//          transform: scale(1.05);
//          transition-duration: 0.5s;
//          }
//  }





